<?xml version="1.0" encoding="UTF-8"?>

<launch>


	<arg name="time_step" default="0.5" />
	<arg name="rolename"  />


	<group ns="$(arg rolename)" >

		<!-- start service call for game node  -->
		<node name="restart_call" pkg="carla_circle" type="game_start_client.py" output="screen" />

		<!-- "perception module", acutally just filtering out cars that are relevant -->
		<node name="game_ado_car_filter" pkg="carla_circle" type="game_ado_vehicle_filter.py" output="screen" >
			<param name="rolename" value="$(arg rolename)" />
		</node>

		<!-- this node works for game planner to publish current track center and track width for two cars -->
	  <node name="map_updater" pkg="carla_circle" type="map_updater.py" output="screen" >
	    <param name="steps" value="20" />
	    <param name="distance" value="2" />
	    <param name="update_frequency" value="10" />
			<param name="exit_time" value="200" />
	  </node>
		<!-- path server updates path according to carla world map -->
		<node name="path_server" pkg="carla_circle" type="path_server.py" output="screen" />

		<!-- controller module  -->
		<node name="controller" pkg="carla_circle" type="controller.py" output="screen">
			<param name="rolename" value="$(arg rolename)" />
			<param name="time_step" value="$(arg time_step)" />
			<param name="ctrl_freq" value="100" />
			<param name="str_prop" value="0.5" />
			<param name="plan_steps" value="200" />
		</node>

		<node name="viz_node" pkg="carla_circle" type="visualization_node.py" output="screen" />
	</group>



</launch>
