<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="rolename" default="hero" />
	<arg name="track_steps" default="300" />
	<arg name="distance" default="4.0" />
	<arg name="color" default="255, 200, 200" />
	<arg name="spawn_point" default="-6.0, -40.0, 2.0, 0.0, 0.0, 270.0" />
	<arg name="max_speed" default="2.0" />
	<arg name="opp_speed" default="5.0" />
	<arg name="plan_horizon" default="3.0" />
	<arg name="plan_steps" default="10" />
	<arg name="time_step" value="$(eval arg('plan_horizon')/arg('plan_steps'))" />
	<arg name="spawn_ego" default="True" />

	<group ns="$(arg rolename)">
		<!-- Controller "Mode". To determine state controller is in. 0 = Normal Mode-->
		<param name="ctr_mode" value="0" />

		<!-- Mapper node - publish local track
			center and track width for two cars -->
		<node name="map_updater" pkg="carla_circle" type="map_updater.py" output="screen">
			<param name="rolename" value="$(arg rolename)" />
			<param name="steps" value="$(arg track_steps)" />
			<param name="update_frequency" value="10.0" />
		</node>

		<!-- Planner node -->
		<node name="traj_planner" pkg="carla_circle" type="trivial_planner.py" output="screen" >
			<param name="rolename" value="$(arg rolename)" />
			<param name="time_step" value="$(arg time_step)" />
			<param name="horizon" value="$(arg plan_horizon)" />
			<param name="max_speed" value="$(arg max_speed)" />
			<param name="update_frequency" value="10.0" />
		</node>


		<!-- Controller node -->
		<node name="controller" pkg="carla_circle" type="controller.py" output="screen">
			<param name="rolename" value="$(arg rolename)" />
			<param name="time_step" value="$(arg time_step)" />
			<param name="ctrl_freq" value="100" />
			<param name="str_prop" value="0.55" />
			<param name="str_deriv" value="0.0" />
			<param name="plan_steps" value="$(arg plan_steps)" />
			<param name="max_speed" value="$(arg max_speed)" />
		</node>

		<!-- Visualization node-->
		<node name="viz_node" pkg="carla_circle" type="visualization_node.py" output="screen" />

		<!-- Carla ego vehicle node -->
		<node pkg="carla_ego_vehicle" type="carla_ego_vehicle.py" name="carla_ego_vehicle_$(arg rolename)" output="screen">
			<param name="sensor_definition_file" value="$(find carla_circle)/resource/no_sensors.json" />
			<param name="vehicle_filter" value="vehicle.toyota.*" />
			<param name="role_name" value="$(arg rolename)" />
			<param name="spawn_point" value="$(arg spawn_point)" />
			<param name="spawn_ego_vehicle" value="$(arg spawn_ego)" />
			<param name="color" value="$(arg color)" />
		</node>
	</group>

	<!-- Ackermann control for the vehicle-->
	<include file="$(find carla_ackermann_control)/launch/carla_ackermann_control.launch">
		<arg name="role_name" value="$(arg rolename)" />
	</include>

</launch>
