<?xml version="1.0" encoding="UTF-8"?>

<launch>


	<include file="$(find carla_ros_bridge)/launch/carla_ros_bridge.launch">
		<arg name="host" value="localhost" />
    <arg name="ego_vehicle_name" value="stanford_ego" />
	</include>

	<include file="$(find carla_circle)/launch/main_sim_one.launch" />
  <include file="$(find uavgame)/launch/main_mpc_gurobi.launch" />

</launch>
